.dropdownbutton{
    color: white;
    background-color: blue;
    padding: 20px;
    width: 200px;
    height: 100px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    border: 3px;
}
.dropdown-menu{
    /* background-color: red; */
    display: none;
    position: absolute;
    background: rgb(86, 195, 8);
    min-width: 200px;
    /* display: block; */
}
.dropdown-menu a{
    color: rgb(234, 15, 15);
    /* text-decoration: none; */
    display: block;
    /* padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold; */
}
.dropdown-menu a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    /* text-decoration: none; */
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown:hover .dropdownbutton{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}